In [1]:
using DataFrames
import CSV
import Feather
import Arrow
import Tables
using Chain
using CategoricalArrays
using FilePaths
using FilePathsBase: /
using Random
using StatsBase

In [2]:
ENV["LINES"] = 10
ENV["COLUMNS"] = 1000;
Random.seed!(42)

MersenneTwister(42)

In [3]:
path_data = parent(parent(cwd())) / "data"
path_clean = path_data / "clean";

NOTE: Feather arrays are memory mapped, so the thing isn't all loaded.

In [ ]:
ds_memmap = Feather.read(string(path_clean / "dataset.feather"))

In [ ]:
path_out = string(path_clean / "dataset.arrow")

In [8]:
Arrow.write(path_out, ds_memmap)

LoadError: `write` is not supported on non-isbits arrays

In [30]:
len = size(ds_memmap, 1)

46027957

In [32]:
N = 100_000

100000

In [33]:
ds = view(ds_memmap, sample(1:len, N; replace = false), :)

100000×16 SubDataFrame
    Row │ item_id          store_id  sales  date                sell_price  dept_id      cat_id     state_id  snap   event_name_1  event_type_1  event_name_2  event_type_2  year   month  weekday
        │ String           String    Int64  Datestam…           Float64     String       String     String    Int64  String        String        String        String        Int64  Int64  String
────────┼────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────
      1 │ FOODS_1_009      WI_1          0  Date("2015-03-22")        2.24  FOODS_1      FOODS      WI            0  (No Event)    (No Event)    (No Event)    (No Event)     2015      3  Sunday
   ⋮    │        ⋮            ⋮        ⋮            ⋮               ⋮            ⋮           ⋮         ⋮        ⋮         ⋮             ⋮             ⋮             ⋮          ⋮      ⋮        ⋮
                                                                                                                                                                                   99999 rows omitted